body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
.active{
    background: purple;
    border-radius: 10px;
    color: white;
   
}
.color{
    color: white;
}
i{
    padding: 0 15px;
}
nav{
    display: flex;
    justify-content: space-around;
    background: rgb(231, 231, 230);
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
}
ul{
    display: flex;

}
li{
    padding: 15px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
.content {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.content .content1 {
    width: 65%;
    margin: auto;

    
}
.content .content1 p{
    line-height: 1.5;
}
.content .content1 .btn{
    display: flex;
    justify-content: center;
}
.content .content2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .content1 .btn input {
    border: none;
    border-radius: 7px;
    padding: 10px 80px;
    background-color: purple;
    color: white;
}
.ml{
    margin-left: 78px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.row {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
}

.card {
    width: 220px;
    padding: 30px;
    border: 1px solid black;
    text-align: center;
    border-radius: 9px;
}

.card i {
    font-size: 100px;
    color: purple;
}

footer {
    background: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
footer .foot-container {
    text-align: center;
    color: #fff;
}
.mt {
    margin-top: 1.5rem;
}